#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#buttons-table button {
  width: 100px;
  height: 100px;
  font-size: 250%;
}

.folded {
  background-repeat: no-repeat;
  background-size: contain;
}

.suit-1.folded {
  background-image: url(../images/suit-1.svg);
  border-color: #606060;
}

.suit-2.folded {
  background-image: url(../images/suit-2.svg);
  border-color: #A0A0A0;
}

.match, .match:hover {
  background-color: #ffff99;
  color: black;
}